* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
    list-style-type: none;
}
@media (min-width: 760px) {
    .menu {
        flex-direction: row;
        gap: 60px;
    }
}

.img img{
    width: 20vw;
    height: auto;
}

article{
    width: 80vw;
}